@model Order

    <div class="sheet">
@{
    decimal total = 0;
    foreach (OrderProductAssoc item in Model.OrderProductAssocs)
    {
        decimal price = (item.Product.Price * (int)item.Qty);
        total += price;
        <div class="reviewItem">
            <img src="@item.Product.MainImgUrl" style="width:50px">
            <p><b>@item.Product.Name</b></p>
            <p>Qty: @item.Qty</p>
            <p>$@price.ToString("0.00")</p>
        </div>
    }
    <div style="text-align:right;padding-right:10%;font-weight:bold;margin:20px 0px;">Order Total: $@total.ToString("0.00")</div>
    <div class="orderRvwAddresses d-flex justify-content-evenly">
        <div>
            <h5>Shipping Address</h5>
            @if(ViewBag.Shipping != null)
            {
            <p>@ViewBag.Shipping.Street, @ViewBag.Shipping.Street2<br>
            @ViewBag.Shipping.City, @ViewBag.Shipping.State, @ViewBag.Shipping.Zip</p>
            }
            else
            {
                <p>Pick up from <br>
                123 Main St <br>
                West Chicago, IL 12345</p>
            }
        </div>
        <div>
            <h5>Billing Address</h5>
            <p>@ViewBag.Billing.Street, @ViewBag.Billing.Street2<br>
            @ViewBag.Billing.City, @ViewBag.Billing.State, @ViewBag.Billing.Zip</p>
        </div>
    </div>
    <form asp-controller="Order" asp-action="CompleteOrder" asp-route-OrderId="@Model.OrderId" method="post">
        <input type="submit" value="Complete Order">
    </form>
}
    </div>