@model Product

<div class="form-sheet">
    <h5>@Model.Name</h5>
    <p>@Model.Description</p>
    <p>@Model.Price.ToString("0.00")</p>

    <div class="d-flex">
        <div class="left">
            <h4>Categories</h4>
            <ul>
                @foreach (ProductCategoryAssoc cat in Model.ProductCategoryAssocs)
                {
                    <li>@cat.Category.Name</li>
                }
            </ul>
        </div>

        <div class="right">
            <h4>Add Category</h4>
            <form asp-action="AddCatToProd" asp-route-productId="@Model.ProductId" method="POST">
                <select class="form-select" name="CategoryId" id="">
                    @{
                        List<int> catIDs = new();
                        foreach (ProductCategoryAssoc assoc in Model.ProductCategoryAssocs)
                        {
                            catIDs.Add(assoc.CategoryId);
                        }
                    }
                    @foreach (Category category in ViewBag.AllCategories)
                    {
                        if (!catIDs.Contains(category.CategoryId))
                        {
                            <option value="@category.CategoryId">@category.Name</option>
                        }
                    }
                </select>
                <input type="hidden" name="ProductId" value=@Model.ProductId>
                <input class="bttn" type="submit" value="Add">
            </form>
            </div>
        </div>
            <div class="form-nav d-flex">
                <a class="bttn" asp-controller=Shop asp-action="Shop" style="text-decoration:none">
                    Add Images</a>
                <a class="bttn" asp-controller=Product asp-action="RenderNewProduct"
                    style="text-decoration:none">
                    Add another product</a>
                <a class="bttn" asp-controller=Shop asp-action="Shop" style="text-decoration:none">
                    Finish</a>
    </div>
</div>